html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Roboto Mono';
    background-color: #f5f7fa;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8em;
  
}

.pf-logo {
    width: 25%;
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1em;
    margin: 0;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

/* Hero Section */

.hero {
    display: flex;
    gap: 4em;
    margin-top: 4em;
}

.left-col{
    width: 60%;
    padding: 2em;
    border-radius: 1.9em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='0' x1='0.17' y1='0.12' x2='0.83' y2='0.88'%3E%3Cstop offset='0%25' stop-color='%23a3bffa'/%3E%3Cstop offset='14.29%25' stop-color='%238ec4f9'/%3E%3Cstop offset='28.57%25' stop-color='%236fc9f9'/%3E%3Cstop offset='42.86%25' stop-color='%2347cdf4'/%3E%3Cstop offset='57.14%25' stop-color='%2349cfe6'/%3E%3Cstop offset='71.43%25' stop-color='%234bd0da'/%3E%3Cstop offset='100%25' stop-color='%234fd1c5'/%3E%3C/linearGradient%3E%3CradialGradient id='1' gradientTransform='translate(-0.3 0) scale(2, 2)'%3E%3Cstop offset='0%25' stop-color='%23f687b3'/%3E%3Cstop offset='25%25' stop-color='rgba(245, 151, 227, 0.75)'/%3E%3Cstop offset='50%25' stop-color='rgba(217, 182, 245, 0.5)'/%3E%3Cstop offset='100%25' stop-color='rgba(190, 227, 248, 0)'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%230)' height='100%25' width='100%25'/%3E%3Crect fill='url(%231)' height='100%25' width='100%25'/%3E%3C/svg%3E");
}

.left-col-cont {
  display: flex;
  flex-direction: column;
  gap: 6em;
  padding: 1.8rem;
  margin: 0;
}

h1 {
    font-size: 5.2rem;
    margin: 0;
}

.subhead {
    font-size: 1.8rem;
}

.primary-cta {
    background-color: black;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;
}


.right-col {
    border-radius: 1.9em;
    flex: 1;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.my-pfp {
    width: 105%;
    
}

/* Project Section */

.projects {
    display: flex;
    margin: 0;
    margin-top: 4em;
    justify-content: space-between;
    gap: 3em;
}

.cards {
    width: 30%;
    border-radius: 1.9em;
    background-color: white;
    box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.thumbnail {
    width: 100%;
    border-radius: 1.9em 1.9em 0 0;
}

.card-details {
    padding: 2em;
    background-color: #fff;
    border-radius: 0 0 1.9em 1.9em;
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    flex-grow: 1;
}


.project-title {
    font-size: 1.8rem;
    margin: 0;
}

.project-desc {
    font-size: 1.4rem;
    margin: 0;
}

/* Contact Section */
.contact {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='0' x1='0.17' y1='0.12' x2='0.83' y2='0.88'%3E%3Cstop offset='0%25' stop-color='%23a3bffa'/%3E%3Cstop offset='14.29%25' stop-color='%238ec4f9'/%3E%3Cstop offset='28.57%25' stop-color='%236fc9f9'/%3E%3Cstop offset='42.86%25' stop-color='%2347cdf4'/%3E%3Cstop offset='57.14%25' stop-color='%2349cfe6'/%3E%3Cstop offset='71.43%25' stop-color='%234bd0da'/%3E%3Cstop offset='100%25' stop-color='%234fd1c5'/%3E%3C/linearGradient%3E%3CradialGradient id='1' gradientTransform='translate(-0.3 0) scale(2, 2)'%3E%3Cstop offset='0%25' stop-color='%23f687b3'/%3E%3Cstop offset='25%25' stop-color='rgba(245, 151, 227, 0.75)'/%3E%3Cstop offset='50%25' stop-color='rgba(217, 182, 245, 0.5)'/%3E%3Cstop offset='100%25' stop-color='rgba(190, 227, 248, 0)'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%230)' height='100%25' width='100%25'/%3E%3Crect fill='url(%231)' height='100%25' width='100%25'/%3E%3C/svg%3E");
    border-radius: 1.9em;
    display: flex;
    margin: 0;
    margin: 4em 0 4em 0;
}

.contact-header {
    width: 40%;
    margin: 3.8em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.contact-heading {
    font-size: 4.2rem;
    margin: 0;
}

.contact-subheading {
    font-size: 1.8rem;
    margin: 0;
}

.info {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.6em;
}

.icons {
    display: flex;
    gap: 1em;
    font-size: 4rem;
}

.contact-form {
    margin: 3.8em;
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}   

input, textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 0.4em;
    outline: none;
    padding: 1em;
    font-size: 17px;
    font-family: 'Roboto Mono';
}

.input-fields {
    width: 80%;
    margin-bottom: 2em;
    max-height: fit-content;
}

#send-btn {
    margin-left: 4em;
}
